/*Estilo do Backgroud*/
body{
    background-color: black;
}
/*Estilo Menu*/
#menu li{
    display: inline;
    padding: 15px;
   
}
#menu li a{
    text-decoration: none;
    color: #ed1c24;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu li a:hover{
    text-shadow: 2px 2px 5px white;

}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*Estilo Em Comum Nas Paginas*/
.titulo{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    
}

.texto{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 20px;
    line-height: 1.8;
    text-align: center;
}

/*Estilo pagina index*/

.imagem{
    width: 400px;
    height: 158px;

}

#assista-a {
    text-decoration: none;
    color: #ed1c24;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;

}

#assista-a:hover{
    text-shadow: 2px 2px 5px white;
    letter-spacing: 0.3em; 

}



/*Estilo Videos*/

.flex-container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.mt-temp{
    margin-top: 83px;
}

/*Estilo Pagina Fale Conosco*/
.tabelas{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

.ml{
    margin-left: 50px;
}

.wrap{
    flex-flow: wrap;
}

.botao{
  background-color: #ed1c24;
  color: #ffffff;
  padding: 11px 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

/*Estilo Rodapé*/
.tm-social{
    width: 20px;
    height: 20px;

}

.p-30{
    padding: 15px;
}

.texto-rodape{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ed1c24;
    font-size: 10px;
}

.mt{
    margin-top: 85px;
}

.mrindex{
    margin-top: 119px;
}

.mrprimeiratemporada{
    margin-top: 60px;
}